*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
}
.header{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: steelblue;
    color: white;
}
.color{
    background: white;
    color: steelblue;
    font-weight: 500;
    font-size: 19px;
    width: 180px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
    border-radius: 30px;
}
.controls{
   
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
   
}
button{
    padding: 7px 9px;
    background-color:transparent;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    border-radius: 3px;
}
#replay{
 
}
#option-container{
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: center;
    flex-direction: row;
   
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* padding: 20px; */
    /* margin: auto; */
   
    /* justify-content: center; */

}
.options{
    
    width: 100px;
    height: 100px;
    /* background: black; */
    /* padding: 10px; */
    margin: 8px;
    color: black;
    border-radius: 10px;
   
}
.hide{
    display: none;
}
.show{
    display: block;
}